<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <img class="pf-logo" src="../../assets/Perennial-Faves-logo-2.png" />
    </div>

    <div
      class="col-sm-12 col-md-9"
      style="background-color:  rgb(153, 208, 43); padding: 50px 10px;"
    >
      <div class=" d-table-cell align-middle">
        <h1 class="sub">
          We offer the perfect plants for your garden,
          <span id="white">always.</span>
        </h1>
      </div>
    </div>
  </div>
</div>


<div
  class="container-fluid"
  style="background-color: #ff7700;
"
>
  <div class="row" style="padding: 15px 0;">
    <div class="col-sm-12 col-lg-3 text-center">
      <a class="links" href="/about">About Us</a>
    </div>
    <div class="col-sm-12 col-lg-3 text-center">
      <a class="links" href="/plants">Our Products</a>
    </div>
    <div class="col-sm-12 col-lg-6 text-center">
      <p class="slogan">
        Helping You Create a Beautiful Space | Est. 1997 | 22 Years of Service
      </p>
    </div>
  </div>
</div>