
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <img class="col-sm-12 pf-logo" src="../../assets/Perennial-Faves-logo-2.png">
    </div>
    <!-- <div class="col-sm-9 align-middle logo-box">
      <h1 class="sub">Discover the perfect plants for your garden</h1>
    </div> -->
    <div class="row h-200">
      <div class="col-sm-12 h-100 d-table">
        <div class=" d-table-cell align-middle">
          <h1 class="sub">We offer the perfect plants for your garden, <span id="white">always.</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- nav element below -->

<div class="container-fluid bar">
  
  <div class="ts">
    <a class="links" href="/about">About Us</a>
  </div>
  <div class="ts">
    <a class="links" href="/plants">Our Products</a>
  </div>
  <div class="ts">
      <p class="slogan">Helping You Create a Beautiful Space | Est. 1997 | 22 Years of Service</p>
  </div>


</div>