
<!-- We need a Navbar here -->
<router-outlet>
  <!-- <h2 class="header">{{title}}</h2> -->
  <div class="container-fluid">
      <div class="row  align-self-center">
        <div class="col-sm-3  my-auto">
          <img class="col-sm-12 pf-logo" src="../../assets/Perennial-Faves-logo-2.png">
        </div>
        <!-- <div class="col-sm-9 align-middle logo-box">
          <h1 class="sub">Discover the perfect plants for your garden</h1>
        </div> -->
        <div class="row h-200">
            <div class="col-sm-12 h-100 d-table">
                <div class=" d-table-cell align-middle">
                    <h1 class="sub">We offer the perfect plants for your garden, <span id="orange">always.</span></h1>
                </div>
            </div>
        </div>
      </div>
    </div>
  <div class="container-fluid pageCtr dirt">
  <app-plants></app-plants>
  </div>

</router-outlet>
