<div>
    <h1>Perrenial Favorites</h1>
    </div>
    <div>
    <h2>Helping You Create a Beautiful Space</h2>    
    <h3>Est. 1997</h3>
    <h3>22 Years of Service</h3>
    </div>
    
    <div>
    <h2>Who Are We?</h2>
    <p>We are a garden company who's goal is to help you create the perfect garden.</p>
    <p>Whether you want this to be your favorite place to relax or a place to entertain all of your friends we have what you need!</p>
    </div>
    
    <div>
    <h2>What is Our Specialty?</h2>
    <p>We specialize in long lasting beauty and making it easy for you to care for!</p>
    </div>
    
    <div>
    <h2>Have More Questions?</h2>
    <p>Reach Out To Us!</p>
    <h5>Perrenial Favorites <br>
    123 Rose Ave. <br>
    Indianapolis, IN 46222<br>
    <a href="tel: + 1-317-123-4567">(317)123-4567</a><br>
    <a href="mailto:perrenialfavorites@perrenialfavorites.com">perrenialfavorites@perrenialfavorites.com</a></h5>
    </div>
    
    <div>
        
    </div>