
<div>
    <h1>Perrenial Favorites</h1>
    <h6>Helping You Create a Beautiful Space</h6>    
    <h6>Est. 1997</h6>
    <h6>22 Years of Service</h6>
    </div>
    
    <div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
    <h2 class="card-title">Who Are We?</h2>
    <p class="card-text">We are a garden company who's goal is to help you create the perfect garden.</p>
    </div>
    </div>
    </div>
    </div>
</div>
<div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title">What Do We Want For You?</h2>
    <p class="card-text">Whether you want this to be your favorite place to relax or a place to entertain all of your friends we have what you need!</p>
    </div>
</div>
</div>
</div>
    </div>
    
    <div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
    <h2 class="card-title">What is Our Specialty?</h2>
    <p class="card-text">We specialize in long lasting beauty and making it easy for you to care for!</p>
    </div>
</div>
</div>
</div>
    </div>
    
<div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
    <h2 class="card-title">Have More Questions?</h2>
    <p class="card-text">Perrenial Favorites <br>
    123 Rose Ave. <br>
    Indianapolis, IN 46222<br>
    <a href="tel: + 1-317-123-4567">(317)123-4567</a><br>
    <a href="mailto:perrenialfavorites@perrenialfavorites.com">perrenialfavorites@perrenialfavorites.com</a></p>
    </div>
</div>
</div>
</div>
</div>


<form method="POST" class="form" action="https://formspree.io/halliwell2046@yahoo.com">
    <h2>Contact Us</h2>
    <div>
       <input type="name" name="name" placeholder="Name">
    </div>
    <div>
      <input type="phone" name="phone" placeholder="Phone Number">
    </div>
    <div>
    <input type="email" name="email" placeholder="Your email">
    </div>
    <div>  
      <input type="method" name="method" placeholder="Email, Text, or Call">
         </div>
    <div>
         <div>
            <input type="contactime" name="time" placeholder="Morning, Afternoon, Evening, or Any">
         </div>
    <textarea name="message" placeholder="Message"></textarea>
    </div>
    <div>
    <button type="submit" class="button">Submit</button>
    </div>
  </form>
