<app-header-nav></app-header-nav>

<div class="dirt">
    <div class="container-fluid">
        <div class="row">
            
            <div class="card" style="width: 25rem;">
                <!-- <img src="" class="card-img-top" alt="plant detail"> -->
                    <div class="card-body">
                        <h5 class="card-title">Who Are We?</h5>
                        <p class="card-text">We are a garden company whose goal is to help you create the perfect garden.</p>
                    </div>
            </div>

            <div class="card" style="width: 25rem;">
                <!-- <img src="" class="card-img-top" alt="plant detail"> -->
                    <div class="card-body">
                        <h5 class="card-title">What Do We Want For You?</h5>
                        <p class="card-text">Whether you want this to be your favorite place to relax or a place to entertain all of your friends, we have what you need!</p>
                    </div>
            </div>

            <div class="card" style="width: 25rem;">
                <!-- <img src="" class="card-img-top" alt="plant detail"> -->
                    <div class="card-body">
                        <h5 class="card-title">What is Our Specialty?</h5>
                        <p class="card-text">We specialize in long lasting beauty and making it easy for you to care for!</p>
                    </div>
            </div>

            <div class="card" style="width: 25rem;">
                    <!-- <img src="" class="card-img-top" alt="plant detail"> -->
                        <div class="card-body">
                            <h5 class="card-title">Have More Questions?</h5>
                            <p class="card-text">Perennial Favorites <br>
                                123 Rose Ave. <br>
                                Indianapolis, IN 46222<br>
                                <a href="tel: + 1-317-123-4567">(317)123-4567</a><br>
                                <a href="mailto:perennialfavorites@perennialfavorites.com">perennialfavorites@perennialfavorites.com
                                </a>
                            </p>
                        </div>
                </div>

                


    
<!-- <div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
    <h2 class="card-title">Who Are We?</h2>
    <p class="card-text">We are a garden company whose goal is to help you create the perfect garden.</p>
    </div>
    </div>
    </div>
    </div>
</div> -->
<!-- <div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title">What Do We Want For You?</h2>
    <p class="card-text">Whether you want this to be your favorite place to relax or a place to entertain all of your friends, we have what you need!</p>
    </div>
</div>
</div>
</div>
    </div> -->
    
    <!-- <div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
    <h2 class="card-title">What is Our Specialty?</h2>
    <p class="card-text">We specialize in long lasting beauty and making it easy for you to care for!</p>
    </div>
</div>
</div>
</div>
    </div> -->
    
<!-- <div class="info">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
    <h2 class="card-title">Have More Questions?</h2>
    <p class="card-text">Perennial Favorites <br>
    123 Rose Ave. <br>
    Indianapolis, IN 46222<br>
    <a href="tel: + 1-317-123-4567">(317)123-4567</a><br>
    <a href="mailto:perrenialfavorites@perrenialfavorites.com">perrenialfavorites@perrenialfavorites.com</a></p>
    </div>
</div>
</div>
</div>
</div>
</div> -->
</div>

<div class="container">
<form method="POST" class="form" action="https://formspree.io/halliwell2046@yahoo.com">
    <h5 class="white">Contact Us</h5>
    <div>
       <input class="fields" type="name" name="name" placeholder="Name">
    </div>
    <div>
      <input class="fields" type="phone" name="phone" placeholder="Phone Number">
    </div>
    <div>
    <input  class="fields" type="email" name="email" placeholder="Your email">
    </div>
    <div>  
      <input  class="fields" type="method" name="method" placeholder="Email, Text, or Call">
         </div>
    <div>
         <div>
            <input class="fields" type="contactime" name="time" placeholder="Morning, Afternoon, Evening, or Any">
         </div>
    <textarea class="fields" name="message" placeholder="Message"></textarea>
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>

    </div>
  </form>
</div>
</div>
