h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h6 {
    float: right;
    padding-bottom: 20px;
}

p {
    padding: 10px;
}

.info {
    padding: 50px;
}

.card {
    height: 200px;
    width: 300px;
}

.form {
    text-align: center;
    padding-bottom: 50px;
}

input {
    width: 300px;
}

textarea {
    width: 500px;
}