<!-- {{plant}} -->
<div class="dirt">
  <div class="container">
    <div class="row">
      <div *ngFor="let plant of plants; index as i" class="card" style="width: 18rem;">

        <img src="{{plantPics[(i)]}}" class="card-img-top" alt="plant detail">
        <div class="card-body">
          <h5 class="card-title">{{plant.product_name}}</h5>
          <p class="card-text">{{plant.product_description}}</p>
          <!-- <div *ngIf="token"> -->
            <button (click)="killPlant()" class="btn btn-primary">Kill Plant</button>
          
          <!-- </div> -->
        </div>
        <div class="card-footer text-muted">
          $ {{plant.product_price}}
        </div>

      </div>
    </div>
  </div>
</div>
